<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
</head>
<body>
    <p>Hello!</p>
    <p>To complete your registration, please follow the link below:</p>
    <p>Alternatively, you can use the following confirmation code: <strong>{{ code }}</strong></p>
    <p>If you did not sign up for our service, please disregard this message.</p>
    <p>Best regards,<br>Vice</p>
</body>
</html>
